{% extends 'accounts/layout.html' %}
{% block title%}login{%endblock%}
{%block content%}
<h2>Login</h2>

<form action="{%url 'accounts:changepassword'%}" method="POST">
  {% csrf_token %}
  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username" required><br><br>

  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password" required><br><br>
   
  <label for="newpassword">Password:</label><br>
  <input type="password" id="password" name="newpassword" required><br><br>
  <button type="submit">change password</button>

</form>

{%if message%}
<p>{{message}}</p>
{%endif%}

{%endblock%}