{% extends 'accounts/layout.html' %}
{% block title%}login{%endblock%}
{%block content%}
<h2>Login</h2>

<form action="{%url 'accounts:login'%}" method="POST">
  {% csrf_token %}
  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username" required><br><br>

  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password" required><br><br>

  <button type="submit">Login</button>

</form>

<a href="{%url 'accounts:changepassword'%}">Forgot password?</a>
{%if message%}
<p class="message">{{message}}</p>
{%endif%}

{%endblock%}
